[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2.1"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
pillow = "*"
django-mptt = "*"
pytest = "*"
pytest-django = "*"
faker = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
psycopg2-binary = "*"
stripe = "*"
dotenv = "*"
python-dotenv = "*"
celery = "*"
flower = "*"
redis = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
django-extensions = "*"
ipython = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.12"
