.navbar-items {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-icon {
    filter: invert(1);
    margin-right: 15px;
}

.cart-icon {
    margin-right: 15px;
}

.col-10 {
  border-right: 1px solid #ddd;
}

.logout-icon {
  margin-right: 8px;
}

input::placeholder {
  color: white;
  opacity: 1;
}

.product-info-container {
    margin-left: 15px;
}

.total-price {
  font-weight: 600;
  color: #0e0d0d;
}

.cart-price-final {
  font-size: 1.1rem;
  font-weight: 700;
  color: #0a0a0a;
  /*text-align: right;*/
}

.active-menu {
    background-color: #303030;
    color: white;
}
.active-menu:hover {
    background-color: #5c5c5c;
    color: white;
}

.search-input {
  background-color: #282224;
  color: white;
}

.search-input::placeholder {
  color: white;
  opacity: 1;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}