{% load static %}

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" bis_skin_checked="1">
    <div class="carousel-indicators" bis_skin_checked="1">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
                aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner" bis_skin_checked="1">
{#        #1#}
        <div class="carousel-item" bis_skin_checked="1">

            <img src="{% static 'img/shoes.png' %}" class="d-block w-100" alt="Slide 1" style="height: 300px; object-fit: cover;">

{#            <svg aria-hidden="true" class="bd-placeholder-img " height="100%" preserveAspectRatio="xMidYMid slice"#}
{#                 width="100%" xmlns="http://www.w3.org/2000/svg">#}
{#                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>#}
{#            </svg>#}
            <div class="container" bis_skin_checked="1">
                <div class="carousel-caption text-start" bis_skin_checked="1"><h1>Стильне взуття для будь-якої нагоди</h1>
                    <p class="opacity-75">Обери свій ідеальний образ з нашою колекцією кросівок, черевиків і сандалій.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Детальніше</a></p></div>
            </div>
        </div>
{#        #2#}
        <div class="carousel-item active" bis_skin_checked="1">
            <img src="{% static 'img/backpack.png' %}" class="d-block w-100" alt="Slide 1" style="height: 300px; object-fit: cover;">
{#            <svg aria-hidden="true" class="bd-placeholder-img " height="100%" preserveAspectRatio="xMidYMid slice"#}
{#                 width="100%" xmlns="http://www.w3.org/2000/svg">#}
{#                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>#}
{#            </svg>#}
            <div class="container" bis_skin_checked="1">
                <div class="carousel-caption text-danger" bis_skin_checked="1"><h1>Рюкзаки, які підкреслять твою індивідуальність</h1>
                    <p>Практичність та стиль в одному — вибирай найкращі моделі для навчання та прогулянок.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Детальніше</a></p></div>
            </div>
        </div>
{#        #3#}
        <div class="carousel-item" bis_skin_checked="1">
            <img src="{% static 'img/aksessuarov.png' %}" class="d-block w-100" alt="Slide 1" style="height: 300px; object-fit: cover;">
{#            <svg aria-hidden="true" class="bd-placeholder-img " height="100%" preserveAspectRatio="xMidYMid slice"#}
{#                 width="100%" xmlns="http://www.w3.org/2000/svg">#}
{#                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>#}
{#            </svg>#}
            <div class="container" bis_skin_checked="1">
                <div class="carousel-caption text-end" bis_skin_checked="1"><h1>Аксесуари, які завершать твій образ</h1>
                    <p>Оригінальні сумки, ремені та кепки — все, що потрібно для справжнього стилю.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Детальніше</a></p></div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev"><span
            class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next"><span
            class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span>
    </button>
</div>