{% load static %}
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"><a href="/"
                                                                                                            class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'common:index' %}" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="{% url 'common:about' %}" class="nav-link px-2 text-white">Про Нас</a></li>
                <li><a href="{% url 'common:contacts' %}" class="nav-link px-2 text-white">Контакти</a></li>
                <li><a href="{% url 'common:faq' %}" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Зворотній зв'язок</a></li>
            </ul>

            <a href="{% url 'cart:cart_detail' %}" class="d-inline-block cart-icon">
                <img src="{% static 'svg/cart.svg' %}" width="45" height="45" alt="cart icon"/>
            </a>


            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"><input type="search"
                                                                                       class="form-control form-control-dark text-bg-dark"
                                                                                       placeholder="Search..."
                                                                                       aria-label="Search"></form>
            <div class="text-end d-flex align-items-center gap-2">


                <a href="{% url 'accounts:login' %}" class="btn btn-outline-light">Login</a>
                <a href="{% url 'accounts:register' %}" class="btn btn-warning">Sign-up</a>


            </div>
        </div>
    </div>
</header>