{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% include 'includes/carousel.html' %}

    <h1>Всі товари магазину:</h1>
    <hr>

    {% if not products %}
        <p><h6>Товарів поки що немає. Спробуйте будь-ласка пізніше.</h6></p>
    {% endif %}

    <hr>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in products %}
                <div class="col">
                    <a href="{% url 'store:product_detail' product.slug %}" class="card-link"
                       style="text-decoration: none; color: inherit;">
                        <div class="card h-100" style="cursor: pointer; position: relative;">

                            <!-- Картинка товара -->
                            <img src="https://picsum.photos/600/600" class="card-img-top" alt="Product title">

                            {#                            <!-- Сердечко -->#}
                            {#                            {% if user.is_authenticated and not product.is_favorite %}#}
                            {#                                <img src="{% static 'svg/heart.svg' %}"#}
                            {#                                     alt="favorite"#}
                            {#                                     href="{% url 'favorites:add' product.id %}"#}
                            {#                                     style="position: absolute; top: 10px; left: 10px; width: 32px; height: 32px; z-index: 10;">#}
                            {#                            {% elif user.is_authenticated and product.is_favorite %}#}
                            {#                                <img src="{% static 'svg/heart_fill.svg' %}"#}
                            {#                                     alt="favorite"#}
                            {#                                     style="position: absolute; top: 10px; left: 10px; width: 32px; height: 32px; z-index: 10;">#}
                            {#                            {% endif %}#}

                            {% if user.is_authenticated %}
                                <form method="post" action="{% url 'favorites:add' product.id %}"
                                      style="position: absolute; top: 10px; left: 10px; z-index: 10;">
                                    {% csrf_token %}
                                    {% if product.is_favorite %}
                                        <input type="hidden" name="action" value="remove">
                                        <button type="submit"
                                                style="background:none; border:none; padding:0; cursor:pointer;">
                                            <img src="{% static 'svg/heart_fill.svg' %}" alt="Remove from favorites"
                                                 width="32" height="32">
                                        </button>
                                    {% else %}
                                        <input type="hidden" name="action" value="add">
                                        <button type="submit"
                                                style="background:none; border:none; padding:0; cursor:pointer;">
                                            <img src="{% static 'svg/heart.svg' %}" alt="Add to favorites" width="32"
                                                 height="32">
                                        </button>
                                    {% endif %}
                                </form>
                            {% endif %}

                            <!-- Контент -->
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                                <p class="card-price" style="font-weight: bold;">Ціна: {{ product.price }} грн.</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'includes/pagination.html' %}
{% endblock %}