{% extends 'base.html' %}

{% block content %}
    <P>{{ product.title }}</P>
    <P>{{ product.price }}</P>
    {{ product.content|safe }}
    <p>{{ product.category }}</p>
    <div style="width:300px; height:300px; border:1px solid #ccc; display:flex; align-items:center; justify-content:center; overflow:hidden;">
        <img src="{{ product.image.url }}" alt="Product Image"
             style="max-width:100%; max-height:100%; object-fit:cover;">
    </div>
{% endblock %}

{#<a href="/category/some-product" class="card-link" style="text-decoration: none; color: inherit;">#}
{#  <div class="card" style="width: 18rem; cursor: pointer;">#}
{#    <img src="product.jpg" class="card-img-top" alt="Product title">#}
{#    <div class="card-body">#}
{#      <h5 class="card-title">Product Title</h5>#}
{#      <p class="card-text">Короткое описание товара.</p>#}
{#      <p class="card-price" style="font-weight: bold;">₽1234</p>#}
{#    </div>#}
{#  </div>#}
{#</a>#}